<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PayPal Web SDK v6 Iframe Examples</title>
    <style>
      body {
        background-color: whitesmoke;
      }
    </style>
  </head>
  <body>
    <h1>PayPal Web SDK v6 Index Page</h1>
    <ul>
      <li><a href="/v6/popup-overlay-disabled">Disable full-page overlay with "popup" payment flow</a></li>
      <li><a href="/v6/auto-grow-iframe-modal-flow">Auto-grow "modal" payment flow</a></li>
    </ul>
  </body>
</html>
